.Foto{
	background: url("../imagenes/Personal/fotoPerfil.jpeg") no-repeat;
	background-size: contain;
	width: 25rem;
	height: 30rem;
	position: relative;
	margin-left:2rem;
	margin-top: 1rem;
	float: left;
}
.Listados{
	width:28rem;
	height: 30rem;
	position: relative;
	float: left;
	margin-left: 2rem;
	background-color: gray;
}

.Zona1{
	width: 24rem;
	height: 9rem;
	position: relative;
	float: left;
	margin-top: 0.1rem;
	margin-left: 2rem;
	background-color: mintcream;
}