.Zona{
	width: 24rem;
	height: 10rem;
	position: relative;
	float: left;
	margin-top: 0.6rem;
	margin-left: 2rem;
	background-color: mintcream;
}
.Titular{
	margin-left: 0.5rem;
	position:relative;
	margin-top: 0.7rem;
	height: 1rem;
	width: 19rem;
	text-decoration: underline darkgray;
	font-style: italic;
}
.SubTitular{
	position: relative;
	margin-left: 1rem;
	margin-top: 0.5rem;
	height: 0.8rem;
	width:7rem;
}
.Texto{
	position:relative;
	margin-left: 1.5rem;
	margin-top: 0.5rem;
	height: 2.5rem;
}
.fechas{
	position: relative;
	margin-top: 0.5rem;
	margin-left: 1.5rem;
}
.Titulo{
	margin-left: 0.5rem;
	position:relative;
	margin-top: 1rem;
	height: 1rem;
	width: 19rem;
	text-decoration: underline darkgray;
	font-style: italic;
}
.Espacio{
	font-size: 32px;
	margin-top: 0.5rem;
	position: relative;
	margin-left: 1rem;
	width: 4rem;
	height: 3rem;
	float:left;
}