.Logo{
  background: url("./assets/imagenes/Logo.png") no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  margin: 1rem;
  position: relative;
  float: left ;
  margin-top: 1rem;
}
.Nombre{
  background: url("./assets/imagenes/info.jpg");
  width: 48rem;
  height: 9rem;
  position: relative;
  margin: 1rem;
  float: left;
  margin-top: 1rem;
}
h1{
  text-align: center;
  position: relative;
  margin-top: 6%;
  margin-left: 30%;
  color: silver;
  text-shadow: 3px 3px 5px black;
  align-items: center;
  display: flex;
}
div{
  margin:1px;
}
.Botonera{
  width: 200px;
  height: 150px;
  position: relative;
  margin: 1px;
  float: left;
  margin-top: 1rem;
}
ul{
  list-style-type: none;
  position: relative;
  margin-right: 10px;
}
.menu{
  width: 101px;
  height: 1.6rem;
  background: -webkit-linear-gradient(rgba(255,215,0,0.45) 45%, rgba(97,0,0,0.5));
  position: relative;
  float: left;
  margin-top: 2px;
  margin-left: 2px;
  text-align: center;
}
.Contenedor{
  width: 71rem;
  height: 28rem;
  position: relative;
  margin-top: 1rem;
  margin-left: 1rem;
}