header{
  width: 1200px;
  background-color: black;
  height: 200px;
  position: relative;
  margin: auto;
  margin-top: 0rem;
}
section{
  width: 1200px;
  height: 600px;
  position: relative;
  margin: auto;
  background-color: aqua;
}
#Cuerpo1{
  background-color: silver;
}
#Cuerpo2{
  background-color: cadetblue;
}
#Cuerpo4{
  background-color: lightsteelblue;
  height: 200px;
}