header{
  width: 1200px;
  background-color: black;
  height: 200px;
  position: relative;
  margin: auto;
}
section{
  width: 1200px;
  height: 600px;
  position: relative;
  margin: auto;
  background-color: silver;
}