.Tablero{
    width: 95%;
    height: 90%;
    position:relative;
    margin-top: 1rem;
    margin-left: 2rem;
    float: left;
}
table, tr, th, td {
    border: 1px solid black;
}
td, th {
    width: 17.3rem;
    height: 35px;
    text-align: center;
}